<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
  <a class="navbar-brand" routerLink="">Home</a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{'show': !isCollapsed}" id="navbarNav">
    <ul class="navbar-nav me-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle"  id="fileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
          File
        </a>
        <ul class="dropdown-menu" aria-labelledby="fileDropdown" ngbDropdownMenu>
          <li><a class="dropdown-item" routerLink="/lesson-search-page">Search Lesson</a></li>
          <li><a class="dropdown-item" routerLink="/lesson-edit-form">Lesson Edit</a></li>
          <a class="dropdown-item" routerLink="/test-page1">Test Page1</a>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/todos">Todos</a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
          Profile
        </a>
        <ul class="dropdown-menu" aria-labelledby="profileDropdown" ngbDropdownMenu> <!-- not implemented yet -->
          <li><a class="dropdown-item" href="#">Logout</a></li>
          <li><a class="dropdown-item" href="#">Login</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
